/* main.scss */

/* 1. Abstracts */
@use "variables";
@use "mixins";

/* 2. Base */
@use "base/normalize";
@use "base/base";

/* 3. Layout */
@use "layout";
@use "layout/header";
@use "layout/footer";
@use "layout/grid";

/* 4. Components */
@use "components";
@use "forms";

/* 5. Sections */
@use "sections";